@import '../../../shared/styles/variables.scss';
mat-card.cart-item {
  background-color: $sp-white;
  color: $sp-black;
  margin: 20px 0;

  mat-card-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    img[mat-card-image] {
      width: 150px;
      margin-top: 0;
    }

    strong,
    button {
      margin: 0 10px;
    }
  }
}
