@import '../../../../shared/styles/variables.scss';
.free-content-box {
  border: 1px solid $sp-light-blue;
  color: $sp-light-blue;
  p {
    color: $sp-black;
    font-style: italic;
  }

  ul {
    li {
      padding: 10px 0;
      border-bottom: 1px solid $sp-black;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
