$sp-black: #0c120c;

$sp-light-blue: #63b4d1;
$sp-blue: #090c9b;

$sp-purple: #932f6d;

$sp-light-gray: #969a97; 
$sp-gray: #59656f;

$sp-yellow: #fffb00;

$sp-white: #f1f7ee;

$sp-red: #c20114;

$sp-orange: #ffb140;

.money {
  color: $sp-gray;
}
