<div class="right-bar">
  <div class="live-project rounded-box">
    <h2>LIVE PROJECT</h2>
    <p>do a liveProject - learn by doing</p>
    <p><em>recently published live projects</em></p>
    <ul>
      <li><a href="">Using graph networks to recommend books to customers</a></li>
      <li><a href="">Building IoT application with SignalR</a></li>
      <li><a href="">Creating and Managing Cloud Native Services in Kubernetes</a></li>
      <li><a href="">Image Classification with Deep Learning</a></li>
      <li><a href="">Predicting Disease Outbreaks with Time Series Analysis </a></li>
    </ul>
  </div>
</div>
